    <!-- Page Wrapper -->
    <div id="wrapper">

        {{> sidebar}}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                {{> topbar}}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-1 text-gray-800 create-evaluation">{{evaluation.name}}</h1>
                    <h5 class="mb-4">1 point each question</h5>

                    <!-- Content Row -->
                    <form action="/students/finish-evaluation/{{evaluation.name}}/{{user.username}}/{{evaluation.course}}" method="POST">
                        {{#each evaluation.questions}}
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card mb-4 py-3 border-bottom-success">
                                        <div class="card-body">
                                            <h5 class="mb-4">{{statement}}</h5>
                                            <div class="form-check">
                                                <input class="form-check-input check-option" type="radio" name={{_id}} value={{option1}}>{{option1}}
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input check-option" type="radio" name={{_id}} value={{option2}}>{{option2}}
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input check-option" type="radio" name={{_id}} value={{option3}}>{{option3}}
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input check-option" type="radio" name={{_id}} value={{option4}}>{{option4}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                        <div class="mt-3">
                            <button type="submit" class="btn btn-primary btn-user btn-block">Finish evaluation</button>
                        </div>
                    </form>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            {{> footer}}

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->