<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shop</h4>
                    <div class="breadcrumb__links">
                        <a href="/home">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__search">
                        <form action="/shop/search">
                            <input type="text" name="search" placeholder="Search...">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                </div>
                                <div id="collapseOne" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll">
                                                {{#each filters.category}}
                                                    <li><a href="/shop/category/{{this}}" name="men">{{this}}</a></li>
                                                {{/each}}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseTwo">Branding</a>
                                </div>
                                <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__brand">
                                            <ul>
                                                {{#each filters.brand}}
                                                    <li><a href="/shop/brand/{{this}}">{{this}}</a></li>
                                                {{/each}}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseThree">Filter Price</a>
                                </div>
                                <div id="collapseThree" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__price">
                                            <ul>
                                                {{#each filters.price}}
                                                    <li><a href="/shop/price/{{this}}">{{this}}</a></li>
                                                {{/each}}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseFour">Size</a>
                                </div>
                                <div id="collapseFour" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__size">
                                            {{#each filters.size}}
                                                <a href="/shop/size/{{this}}">
                                                    <label for="{{this}}">{{this}}
                                                        <input type="radio submit" id="{{this}}">
                                                    </label>
                                                </a>    
                                            {{/each}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseFive">Colors</a>
                                </div>
                                <div id="collapseFive" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__color">
                                            {{#each filters.color}}
                                                <a href="/shop/colors/{{this}}">
                                                    <label class="{{this}}">
                                                        <input type="radio submit">
                                                    </label>
                                                </a>
                                            {{/each}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseSix">Tags</a>
                                </div>
                                <div id="collapseSix" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__tags">
                                            {{#each filters.tagType}}
                                                <a href="/shop/tags/type/{{this}}">{{this}}</a>
                                            {{/each}}
                                            {{#each filters.tagClothing}}
                                                <a href="/shop/tags/clothing/{{this}}">{{this}}</a>
                                            {{/each}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__left">
                                <p>Showing {{totalNumberResults}} results</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__right">
                                <a class="all-results" href="/shop">Show all results</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {{#each products}}
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="/img/{{photo}}">
                                </div>
                                <div class="product__item__text">
                                    <h6>{{name}}</h6>
                                    <h8>{{brand}}</h8>
                                    <div class="row">
                                        <div class="col-lg-8 col-md-6 col-sm-6">
                                            <h5 class="card-size">{{size}}</h5>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-6">
                                            <div class="shop__card__color">
                                                <label class="{{color}}"><input type="radio submit"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <p>{{description}}</p>
                                    <a href="#" class="add-cart">+ Add To Cart</a>
                                    <h5>${{price}}</h5>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->